# do not for ny reason let these files be committed
.box-settings
wp-config.php
.codio
#.htaccess
startup.sh
.DS_Store
appsfreedom-production.tar.gz
#af-baks
#*.bak
#*bak
*.tar.gz
af-bak/__MACOSX
af-bak/appsfreedom
videos/*
