# do not for any reason let these files be committed
.box-settings
wp-config.php
.codio
#.htaccess
startup.sh
.DS_Store
appsfreedom-production.tar.gz
#af-baks
#*.bak
#*bak
*.tar.gz
af-bak/__MACOSX
af-bak/appsfreedom
af-bak/appsfreedom/vis-bak.tar.gz
af-bak/appsfreedom/wp-bak.tar.gz
af-bak/appsfreedom/old_www_backup-bak.tar.gz
videos/*
