@charset UTF-8;

/* 
 * ***********************************************************
 * 
 * BEGIN:
 * 
 * Custom AppsFreedom Style Guide
 * 
 * ***********************************************************
 */
a {
    border-bottom:none;
}
a:active {
    color:#333;
}
a:hover {
    color:#333;
}
dd, li {
    margin-left:0;
}
p, pre, blockquote, ul, ol, dl, figure, figcaption, fieldset, details {
    color:rgba(0, 0, 0, 0.5);
}
ul, ul {
    list-style:none;
}
strong {
    font-weight:600;
    color:#898989;
}
small {
    font-weight:300;
}
.headline {
    font-weight:300;
    text-transform:none;
}
.headline strong {
    font-weight:700;
}
.lede {
    font-size:2em;
}
.contact .lede, .landing .lede {
    font-size:2em;
}
.contact .wpcf7-submit, .landing .wpcf7-submit {
    display:block;
    margin:0 auto;
}
h1 {
    text-transform:uppercase;
    letter-spacing:0;
}
h3 {
    text-transform:uppercase;
}
dt {
    font-weight:600;
}
.home.safari .bg-md-blue {
    background-color:#1772A1!important;
}
.bg-md-blue {
    background-color:#17649a!important;
    color:#fff;
}
.bg-md-blue h1, .bg-md-blue h2, .bg-md-blue h3, .bg-md-blue h4, .bg-md-blue h5, .bg-md-blue h6, .bg-dark-blue h1, .bg-dark-blue h2, .bg-dark-blue h3, .bg-dark-blue h4, .bg-dark-blue h5, .bg-dark-blue h6, .bg-darker-blue h1, .bg-darker-blue h2, .bg-darker-blue h3, .bg-darker-blue h4, .bg-darker-blue h5, .bg-darker-blue h6 {
    color:#fff;
}
.bg-md-blue p, .bg-md-blue pre, .bg-md-blue blockquote, .bg-md-blue ul, .bg-md-blue ol, .bg-md-blue dl, .bg-md-blue figure, .bg-md-blue figcaption, .bg-md-blue fieldset, .bg-md-blue details, .bg-md-blue strong, .bg-dark-blue p, .bg-dark-blue pre, .bg-dark-blue blockquote, .bg-dark-blue ul, .bg-dark-blue ol, .bg-dark-blue dl, .bg-dark-blue figure, .bg-dark-blue figcaption, .bg-dark-blue fieldset, .bg-dark-blue details, .bg-dark-blue strong, .bg-darker-blue p, .bg-darker-blue pre, .bg-darker-blue blockquote, .bg-darker-blue ul, .bg-darker-blue ol, .bg-darker-blue dl, .bg-darker-blue figure, .bg-darker-blue figcaption, .bg-darker-blue fieldset, .bg-darker-blue details, .bg-darker-blue strong {
    color:rgba(225, 225, 225, .5);
}
.bg-dark-blue {
    background-color:#00588c!important;
    color:#fff;
}
.bg-darker-blue {
    background-color:#00588c;
    color:#fff;
}
.bg-light-blue {
    background-color:#c1e2f1;
}
.bg-gray {
    background-color:#f9f9f9;
}
.button {
    font-weight:600;
}
.contact, .landing {
    background-color:#fff;
}
blockquote {
    color:#666;
    font-size:1em;
    line-height:1.5;
    border-left:6em solid #E9E9E9;
    padding:0 1.5em 0 1em;
    font-family:'EB Garamond', serif;
}
blockquote p {
    margin:.5em 0 0;
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
    content:"";
}
img {
    pointer-events:none;
}
.divider {
    height:1px;
    margin:10px 0;
    overflow:hidden;
    background-color:rgba(0, 0, 0, .2);
}
.divider.divider-md {
    margin:15px 0;
}
.divider.divider-lg {
    margin:25px 0;
}
a.primary-button, button.primary-button {
    background:#a8cb17;
    -webkit-box-shadow:inset 0 2px 5px rgba(227, 255, 91, .75);
    -moz-box-shadow:inset 0 2px 5px rgba(227, 255, 91, .75);
    box-shadow:inset 0 2px 5px rgba(227, 255, 91, .75);
    border:solid 2px #8daf00;
    color:#fff;
    text-shadow:1px 2px rgba(1, 1, 1, .2);
    padding:.5em 1em;
    font-weight:700;
    border-radius:500em;
    text-transform:uppercase;
    letter-spacing:.1em;
    text-shadow:none;
    margin-bottom:1em;
}
a.primary-button:hover, a.primary-button:focus, button.primary-button:hover, button.primary-button:focus {
    border:2px solid #9bbd00;
    background-color:#a8cb17;
    box-shadow:inset 0 -3px 0 #7ea200;
    color:#fff;
}
a.primary-button:visited, button.primary-button:visited {
    color:#FFF;
}
a.primary-button:active, button.primary-button:active {
    background:#9bbd00;
}
input[type=button].primary-button, input[type=button].secondary-button, input[type=button].button {
    padding:1em 2em;
}
.text-center {
    text-align:center;
}
.secondary-button {
    background:#155a8a;
    border:solid 2px #155a8a;
    color:#FFF;
    text-shadow:none;
    padding:.5em 1em;
    font-weight:500;
    border-radius:500em;
    text-transform:uppercase;
    letter-spacing:.1em;
    text-shadow:none;
    outline:0;
}
.secondary-button:hover, .secondary-button:focus {
    border:2px solid #155a8a;
    background-color:#2e70a6;
    box-shadow:inset 0 -3px 0 #00588c;
    color:#FFF;
    outline:0;
}
.secondary-button:active {
    background:#00588c;
    color:#FFF;
    outline:0;
}
.secondary-button:visited {
    color:#FFF;
}
input[type=submit].primary-button, input[type=submit].secondary-button, input[type=submit].button {
    padding:2em 4em;
    position:relative;
}
input[type=submit].primary-button:after {
    content:url('../_assets/_img/cta-arrow.png');
    position:absolute;
    left:0;
    top:0;
    width:23px;
    height:23px;
    display:block;
    z-index:100;
    background:red;
}
.button {
    background:none;
    border:solid 2px #ccc;
    color:#898989;
    text-shadow:1px 2px rgba(1, 1, 1, .2);
    padding:.5em 1em;
    font-weight:500;
    border-radius:500em;
    text-transform:uppercase;
    letter-spacing:.1em;
    text-shadow:none;
    font-size:1em;
}
.button:hover, .button:focus {
    border:2px solid #ccc;
    box-shadow:inset 0 -3px 0 #ccc;
    text-decoration:none;
}
.button:visited {
    color:#ccc;
}
.combined input:first-of-type, .combined input:first-of-type:hover, .combined[class$=button]:first-of-type {
    border-left-width:2px;
}
.combined .button:hover, .combined .button:focus {
    border-left-width:0;
}
/*.combined .input {border-width: 2px;}*/
.combined input:first-of-type, .combined[class$=button]:first-of-type {
    border-radius:5em 0 0 5em;
}
.combined input:last-of-type, .combined[class$=button]:last-of-type {
    border-radius:0 5em 5em 0;
}
.input {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color:#fff;
    -webkit-box-shadow:inset 5px 9px 10px rgba(1, 1, 1, .05);
    -moz-box-shadow:inset 5px 9px 10px rgba(1, 1, 1, .05);
    box-shadow:inset 5px 9px 10px rgba(1, 1, 1, .05);
    border:solid 1px rgba(1, 1, 1, .2);
    padding:1.5em .5em;
    width:100%;
}
.input:focus {
    background-color:#fff;
    box-shadow:inset 0 1px 0 rgba(17, 34, 187, 0.1);
    border:1px solid #50c1ed;
    border-color:#50c1ed;
}
select.input {
    background-color:#f9f9f9;
}
label, fieldset.options legend {
    font-weight:300;
    font-size:1.2em;
    cursor:pointer;
}
.form-horizontal .form-group {
    padding-bottom:40px;
}
.details summary {
    color:#40b3df;
    font-weight:700;
    display:inline;
}
.details summary:hover {
    color:#50c1ed;
    font-weight:700;
    display:inline;
}
.progress li.is-active {
    color:#fff;
    font-weight:300;
    background-color:#40b3df;
}
.progress li.is-active:after {
    border-color:transparent #40b3df;
}
.progress li.is-active:before {
    border-color:#40b3df transparent;
}
.highlight {
    background-color:#f9f9f9;
}
.failure-notice {
    color:#FFF;
    background-color:#d30102;
    border-left-color:#dd6969;
}
.failure-notice h2, .success-notice h2, .notice h2 {
    margin-top:0;
}
.success-notice {
    color:#FFF;
    background-color:#a8cb17;
}
.notice {
    color:#FFF;
    background-color:#ffca08;
}
body.splash a {
    text-decoration:none;
}
body.splash a:hover p {
    color:#333;
}
.navbar {
    margin-bottom:0;
}
.navbar-main {
    background-color:#fff;
    border-color:rgba(0, 0, 0, .1);
}
.navbar-main.dark {
    background-color:#17649a;
    border-color:transparent;
}
.navbar-main .navbar-brand {
    color:#777;
    padding:5px;
}
.navbar-main .navbar-brand:hover, .navbar-main .navbar-brand:focus {
    color:#5e5e5e;
    background-color:transparent;
}
.navbar-main .navbar-brand>img {
    max-height:40px;
}
.navbar-main .navbar-text {
    color:#898989;
}
.navbar-main .navbar-nav>li {
    text-align:center;
}
.navbar-main .navbar-nav>li>a {
    color:#898989;
    display:block;
    font-weight:300;
    margin-top:20px;
    margin-bottom:20px;
    text-transform:uppercase;
    border-bottom:1px solid transparent;
}
.navbar-main .navbar-nav>li>a.btn {
    color:#fff;
    padding:10px 20px;
    margin-left:0;
    margin-right:0;
    margin-top:20px;
}
.navbar-main .navbar-nav>li>a:not(.btn):hover, .navbar-main .navbar-nav>li>a:not(.btn):focus, .navbar-main .navbar-nav>.active>a:not(.btn), .navbar-main .navbar-nav>.active>a:not(.btn):hover, .navbar-main .navbar-nav>.active>a:not(.btn):focus {
    color:#a8cb17;
    background-color:transparent;
    border-bottom:1px solid #a8cb17;
}
.navbar-main .navbar-nav>.disabled>a, .navbar-main .navbar-nav>.disabled>a:hover, .navbar-main .navbar-nav>.disabled>a:focus {
    color:#ccc;
    background-color:transparent;
}
.navbar-main .navbar-toggle {
    border-color:#ddd;
}
.navbar-main .navbar-toggle:hover, .navbar-main .navbar-toggle:focus {
    background-color:#ddd;
}
.navbar-main .navbar-toggle .icon-bar {
    background-color:#888;
}
.navbar-main .navbar-collapse, .navbar-main .navbar-form {
    border-color:#e7e7e7;
}
.navbar-main .navbar-nav>.open>a, .navbar-main .navbar-nav>.open>a:hover, .navbar-main .navbar-nav>.open>a:focus {
    color:#555;
    background-color:#e7e7e7;
}
.nav>li>a.primary-button:hover, .nav>li>a.primary-button:focus {
    background-color:#a8cb17;
}
@media (min-width: 768px) {
    .navbar-main .navbar-nav>li>a {
        display:inline-block;
    }
    .navbar-main .navbar-brand {
        height:auto;
        padding:20px 0;
    }
    .navbar-main.dark .navbar-brand {
        padding-top:60px;
    }
    .navbar-main .navbar-brand>img {
        width:200px;
        max-height:auto;
    }
    .navbar-main.dark .navbar-brand>img {
        width:150px;
    }
    .navbar-main .navbar-nav>li {
        text-align:left;
    }
    .navbar-main .navbar-nav>li+li:not(:last-child):before {
        color:#ccc;
        content:"Â·";
        position:absolute;
        bottom:20px;
        left:-6px;
    }
    .navbar-main .navbar-btn, .navbar-main .navbar-nav>li>a {
        font-size:.7em;
    }
    .navbar-main .navbar-btn {
        margin-top:24px;
        margin-left:5px;
        font-weight:300;
        padding:5px 15px;
    }
    .navbar-main .navbar-nav>li>a {
        margin:18px 0 11px;
    }
}
@media (min-width: 992px) {
    .navbar-main .navbar-nav>li>a {
        margin:33px 0 15px;
    }
    .navbar-main .navbar-btn {
        font-size:.7em;
        margin-top:25px;
    }
    .navbar-main .navbar-nav>li>a {
        font-size:.8em;
        margin-left:35px;
        margin-right:35px;
        padding-top:0;
        padding-bottom:3px;
        padding-left:0;
        padding-right:0;
    }
    .navbar-main .navbar-nav>li+li:not(:last-child):before {
        color:#ccc;
        content:"Â·";
        position:absolute;
        left:-5px;
        bottom:11px;
    }
}
.btn-arrow {
    background-image:url(/img/btn-arrow.png);
    background-repeat:no-repeat;
    display:inline-block;
    width:15px;
    height:15px;
    vertical-align:text-top;
    margin-left:3px;
    margin-top:1px;
}
.btn-arrow.gray {
    background-image:url(/img/btn-arrow-gray.png);
}
.jumbotron {
    background-color:transparent;
}
.jumbotron img {
    margin:0 auto;
}
.home .super-hero {
    padding-top:50px;
    padding-bottom:70px;
    position:relative;
}
.home .hero .container {
    padding-top:40px;
    padding-bottom:30px;
}
.home .hero .container .content {
    position:relative;
    z-index:2;
}
.home .hero .bg-image img {
    position:absolute;
    top:55px;
    left:0;
}
.home .hero .bg-video {
    position:absolute;
    bottom:30px;
    margin:0 auto;
    display:block;
    width:100%;
    z-index:1;
}
.home .hero .bg-video>video {
    display:block;
    margin:0 auto;
    text-align:center;
    width:100%;
    max-width:1300px;
}
@media (min-width: 992px) {
    .home .hero .container .content {
        text-align:left;
    }
    .apps .content .app-library .item {
        padding:30px;
    }
    .apps .content .app-library {
        padding-bottom:0;
    }
    .home .hero a#restart {
        position:absolute;
        z-index:2;
        margin:0;
        top:118px;
        left:125px;
    }
    .home .hero a#restart:hover {
        text-decoration:none;
    }
    .home .hero a#restart>.headline {
        color:#FFF;
        background:rgba(0, 0, 0, .4);
        padding:10px 20px;
        line-height:1;
        border-radius:5px;
        position:relative;
    }
    .home .hero a#restart:hover>.headline {
        cursor:pointer;
        background:rgba(0, 0, 0, .6);
    }
}
@media (min-width: 1200px) {
    .home .hero a#restart {
        top:138px;
        left:50%;
        margin-left:-78px;
    }
}
.home .super-hero h1, .home .super-hero h1 strong {
    color:#fff;
}
.home .super-hero h1 {
    font-size:4em;
    letter-spacing:2px;
}
.home .super-hero .btn {
    text-transform:uppercase;
    padding:20px 75px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
}
.home .super-hero .bg-dark-blue {
    height:90px;
}
.home .platform-header {
    margin-top:5%;
}
.home .platform {
    padding-bottom:7%;
    border-bottom:5px solid #e1e1e1;
}
.home .platform .item {
    margin-bottom:50px;
    text-align:center;
}
.home .platform .item:hover img {
    border:15px solid #ccc;
}
.home .platform .item h2 {
    font-size:1.7em;
    margin-top:.7em;
}
.home .platform .btn {
    padding:20px 45px;
    margin-right:20px;
}
.home .platform .btn img {
    display:inline-block;
    vertical-align:text-bottom;
}
.home .app-library .btn {
    padding:20px 45px;
    font-size:1em;
    margin-top:30px;
}
.home .app-library, .home .app-library p {
    text-align:center;
    font-size:1.1em;
}
.library .app-library {
    padding-bottom:65px;
}
.library .app-library>div {
    padding-bottom:30px;
}
.app-library .item {
    padding:50px;
    border-radius:5px;
    display:block;
    min-height:244px;
}
.app-library a.item:hover {
    color:#FFF;
    outline:0;
    padding:45px;
}
.app-library a.item.bg-md-blue:hover {
    background-color:#2e70a6;
}
.awards {
    margin-bottom:50px;
}
.awards .jumbotron {
    margin-bottom:0;
    padding-bottom:20px;
    padding-top:10px;
}
.award-imgs li {
    text-align:center;
    white-space:no-wrap;
    list-style:none;
}
.award-imgs li img {
    margin-left:auto;
    margin-right:auto;
}
.landing-thanks .super-hero {
    padding-top:30px;
    padding-bottom:30px;
}
.landing-thanks .super-hero h1 {
    font-size:5em;
    text-transform:uppercase;
}
.landing-thanks .content img {
    margin:30px 0;
}
.landing-thanks .content a {
    margin-top:20px;
    margin-bottom:0;
}
.landing-thanks .bg-dark-blue {
    height:60px;
}
.landing-thanks .content {
    margin-bottom:75px;
}
.landing footer .bg-md-blue, .contact footer .bg-md-blue {
    background-image:url(/img/landing/bg_slice_btm.png);
    background-position:center top;
    background-repeat:no-repeat;
    background-size:contain;
    padding-top:80px;
}
.landing footer>div, .contact footer>div {
    padding:40px 0;
}
.landing .super-hero .bg-image img, .contact .super-hero .bg-image img {
    position:absolute;
    left:0;
}
.landing .super-hero img.banner, .contact .super-hero span.banner {
    padding:20px 0;
    display:block;
    margin:0 auto;
}
.panel-main {
    border:none;
    border-radius:0;
}
.panel-main textarea {
    resize:vertical;
    max-height:350px;
}
.panel-main>.panel-heading {
    color:#004c7f;
    background-color:#d4ebf5;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    text-align:center;
    text-transform:uppercase;
    font-size:1.6em;
    padding:30px 15px;
}
.panel-main>.panel-heading p {
    color:#004c7f;
}
.panel-main>.panel-heading+.panel-collapse>.panel-body {
    border-top-color:#ddd;
}
.panel-main>.panel-heading .badge {
    color:#f5f5f5;
    background-color:#333;
}
.panel-main>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color:#ddd;
}
.panel-main>.panel-body {
    background-color:#c1e2f1;
    padding-top:50px;
    padding-left:20px;
    color:#004c7f;
}
.landing .super-hero h1, .contact .super-hero h1 {
    font-size:2.5em;
    font-weight:600;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
}
@media (min-width: 992px) {
    .home .super-hero h1 {
        font-size:3em;
    }
    .home .super-hero .btn {
        padding:20px 35px;
        margin-right:20px;
    }
    .landing .panel-main {
        margin-top:-125px;
    }
    .contact .panel-main {
        margin-top:-95px;
    }
    .landing .super-hero h1, .contact .super-hero h1 {
        text-align:left;
        padding-top:40px;
        padding-bottom:40px;
    }
    .landing .super-hero img.banner, .contact .super-hero span.banner {
        display:inline-block;
        margin:0;
    }
    .landing .super-hero .bg-dark-blue, .contact .super-hero .bg-dark-blue {
        background-image:url(/img/landing/bg_slice_top.png);
        background-position:center bottom;
        background-repeat:no-repeat;
        background-size:contain;
        padding-bottom:40px;
    }
    .app-library .item {
        min-height:126px;
        padding:35px;
    }
    .app-library a.item:hover {
        padding:30px;
    }
}
@media (min-width: 1200px) {
    .home .super-hero h1 {
        font-size:4em;
    }
    .home .super-hero .btn {
        padding:20px 70px;
        margin-right:20px;
    }
    .landing .super-hero h1, .contact .super-hero h1 {
        font-size:3em;
        font-weight:600;
        padding-top:40px;
        padding-bottom:40px;
    }
    .app-library .item {
        min-height:158px;
        padding:50px;
    }
    .app-library a.item:hover {
        padding:45px;
    }
}
.tour .hero {
    padding-bottom:50px;
}
#build-fast {
    background:url(/img/tour/build-fast-bg-blue.png);
    background-position:center bottom;
    background-color:#f8fedc;
    background-size:cover;
    background-repeat:no-repeat;
}
#build-fast .tour-header {
    margin-bottom:35%;
}
.blue-graph {
    background:url(/img/tour/tour-blue-bg.png);
    background-position:right top;
    background-color:transparent;
    background-repeat:no-repeat;
    height:675px;
    margin-top:-150px;
    background-size:cover;
}
.carousel-inner {
    min-height:320px;
}
.carousel {
    padding:15px inherit;
}
.carousel-control.left, .carousel-control.right {
    background:transparent;
}
.carousel-indicators-outer {
    padding:40px 0 20px;
    z-index:20;
}
.carousel-indicators-outer div, .carousel-indicators li {
    -webkit-transition:background-color .07s;
    transition:background-color .07s;
}
.carousel-indicators-outer>div>a {
    font-size:1.2em;
    color:rgba(0, 0, 0, .2);
}
.carousel-indicators-outer a:hover, .carousel-indicators-outer a:link, .carousel-indicators-outer a:visited {
    -webkit-transition:border-bottom-left-radius 0;
    transition:border-bottom-left-radius 0;
    -webkit-transition:border-bottom-right-radius 0;
    transition:border-bottom-right-radius 0;
}
.carousel-indicators-outer>div:first-child, .carousel-indicators-outer>div:last-child {
    padding:0;
    margin:0;
}
.carousel-indicators-outer>div:first-child a, .carousel-indicators-outer>div:last-child a {
    padding:20px 40px;
    display:block;
    font-size:.9em;
}
.carousel-indicators-outer>div:first-child, .carousel-indicators-outer>div:first-child a:hover {
    border-bottom-left-radius:2rem;
}
.carousel-indicators-outer>div:last-child, .carousel-indicators-outer>div:last-child a:hover {
    border-bottom-right-radius:2rem;
}
.carousel-indicators-outer>div:first-child, .carousel-indicators-outer>div:last-child {
    border:1px solid rgba(0, 0, 0, .2);
}
.bg-md-blue .carousel-indicators-outer>div:first-child, .bg-md-blue .carousel-indicators-outer>div:last-child {
    border-color:rgba(255, 255, 255, .2);
}
.mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin:0;
}
.mCSB_draggerContainer {
    display:none;
    visibility:hidden;
}
.carousel-options {
    overflow:auto;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
}
.carousel-options li.active, .carousel-options li:hover, .carousel-indicators-outer>div:first-child:hover, .carousel-indicators-outer>div:last-child:hover, .carousel-indicators-outer>div>a:hover, .carousel-indicators-outer>div>a:focus {
    background-color:#17649a;
    color:#fff;
}
.bg-md-blue .carousel-options li {
    color:#fff;
}
.bg-md-blue .carousel-control:hover, .bg-md-blue .carousel-control:focus {
    color:#40b3df;
}
.bg-md-blue .carousel-options li.active, .bg-md-blue .carousel-options li:hover, .bg-md-blue .carousel-indicators-outer>div:first-child:hover, .bg-md-blue .carousel-indicators-outer>div:last-child:hover, .bg-md-blue .carousel-indicators-outer>div>a:hover, .bg-md-blue .carousel-indicators-outer>div>a:focus {
    background-color:#40b3df;
}
.carousel-indicators-outer div:first-child a:hover, .carousel-indicators-outer>div:last-child a:hover {
    color:#fff;
}
.carousel-indicators {
    left:auto;
    margin:0 auto;
    bottom:0;
    padding-right:0;
    position:relative;
    width:auto;
}
.carousel-indicators li {
    width:auto;
    height:auto;
    text-indent:0;
    background-color:transparent;
    border-radius:0;
    text-transform:uppercase;
    margin:0;
    border:none;
    border:1px solid rgba(0, 0, 0, .2);
    line-height:1;
    padding:20px 40px;
    float:left;
    border:1px solid rgba(0, 0, 0, .2);
    margin-left:-1px;
    font-size:.7em;
}
.bg-md-blue .carousel-indicators li {
    border-color:rgba(255, 255, 255, .2);
}
.carousel-indicators li.active, .carousel-indicators li:hover {
    background-color:#17649a;
    color:#fff;
    width:auto;
    height:auto;
}
.carousel-control {
    text-shadow:none;
    color:rgba(0, 0, 0, .2);
    width:10%;
}
.carousel-control:hover, .carousel-control:focus {
    color:#17649a;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size:3em;
    width:60px;
    height:60px;
    margin-top:-30px;
}
.hero-cta, .hero-cta a {
    color:#999;
}
.bg-md-blue .hero-cta, .bg-md-blue .hero-cta button, .bg-md-blue .hero-cta a {
    color:#fff;
}
.about .content, .terms .content {
    padding-bottom:65px;
}
.about .hero h1 {
    margin-bottom:1.5em;
}
.about .content h1, .about .content .container>div>p, .terms .content .container>div>p {
    margin:2em auto 1em;
}
.terms .content .container>div:not(:first-child) h1 {
    margin:2em auto 1em;
}
.about .content .container>div>ol {
    padding-left:4em;
}
.about .content .media img {
    padding:1.5em .5em 0 0;
}
.apps .content .app-library .item {
    float:left;
    margin-right:25px;
}
.apps .content .cta a, .apps .content .cta .btn {
    margin-top:10px;
}
.apps .content .app-library {
    padding-bottom:50px;
}
.library .jumbotron {
    padding-bottom:0;
}
.library .hero .jumbotron>h1 {
    padding-top:50px;
}
.download-items {
    margin-bottom:10px;
}
.download-items .download-item-link p {
    font-size:1em;
}
.download-items .download-item-link:hover {
    color:#005580;
}
.download-items .avatar {
    float:left;
    margin-right:15px;
    width:42px;
    height:42px;
}
.navbar-tour-scrollby .navbar-nav>li, .navbar-tour-scrollby .navbar-nav>li>a {
    font-size:.9em;
    color:#fff;
    font-weight:300;
    display:inline-block;
    text-transform:uppercase;
    letter-spacing:1px;
    background:transparent;
    outline:0;
}
.navbar-tour-scrollby .navbar-nav>li>a {
    padding:10px 15px;
    line-height:20px;
}
.navbar-tour-scrollby .navbar-nav>li>a:hover, .navbar-tour-scrollby .navbar-nav>li>a:focus {
    text-decoration:none;
}
.navbar-tour-scrollby .navbar-nav>li>a:hover, .navbar-tour-scrollby .navbar-nav>li.active>a {
    background:transparent;
    border-bottom:1px solid #a8cb17;
    color:#a8cb17;
    padding-bottom:4px;
    outline:0;
}
.navbar-tour-scrollby .navbar-nav>li+li:before {
    padding:0 5px;
    content:">";
    color:rgba(255, 255, 255, .2);
}
.footer-cta {
    padding:4% 0;
}
.footer-cta a:not(button) {
    font-size:1.2em;
    margin:0 25px;
    color:#004c7f;
}
.footer-cta a:not(button):hover, .footer-cta a:not(button):focus, .footer-cta a:not(button):active {
    text-decoration:underline;
}
.footer-cta .primary-button {
    margin-bottom:0;
}
.footer-cta a>i.glyphicon {
    font-size:.7em;
}
.footer-logo {
    text-align:center;
}
.footer-logo img {
    margin-top:50px;
    margin-bottom:40px;
}
.footer-bg img {
    width:280px;
    position:absolute;
    top:90px;
    left:15px;
}
footer {
    margin-top:0;
    border-top:none;
}
footer nav {
    margin-bottom:20px;
}
footer, footer a, footer a:hover, footer a:active, footer a:focus, footer a:visited, footer dd, footer dt, footer dt a, footer dl, footer dl a {
    color:#fff;
}
footer a:hover {
    text-decoration:underline;
}
footer dt {
    font-weight:400;
    padding-bottom:15px;
    font-size:1.2em;
    text-transform:uppercase;
}
footer dd {
    font-size:1em;
    padding-bottom:5px;
}
footer .copyright {
}
@media (min-width: 996px) {
    footer .cred {
        text-align:right;
    }
}
@media (min-width: 1200px) {
    footer .copyright {
    }
}
footer .copyright, footer .copyright a, footer .copyright a:hover, footer .copyright a:active, footer .copyright a:focus, footer small {
    color:#003566;
}
footer .copyright ul {
    margin-bottom:0;
}
/* 
 * ***********************************************************
 * 
 * END: 
 * 
 * Custom AppsFreedom Style Guide
 * 
 * ***********************************************************
 */

/* 
 * ***********************************************************
 * 
 * Custom AppsFreedom LeanStack Overrides 
 * 
 * ***********************************************************
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing:1px;
}
h1.h-landmark {
    font-size:350%;
}
.btn:hover {
    text-decoration:none;
}
.x-navbar {
    border-bottom:1px solid #e9e9e9;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.x-sidebar .widget {
    background-color:#f3f3f3;
    padding:10px;
    border-right:2px #ccc solid;
    border-bottom:2px #ccc solid;
}
.x-sidebar .h-widget {
    margin:20px 0 .5em 10px;
    font-weight:700;
}
.x-colophon .h-widget {
    margin:0 0 1em;
    font-size:125%;
    font-weight:500;
    letter-spacing:1px;
}
.x-sidebar .widget ul, .widget ol {
    box-shadow:none;
    -webkit-box-shadow:none;
    border:1px solid transparent;
}
.x-sidebar .widget ul li, .widget ol li {
    border-bottom:none;
    padding:.35em .85em;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.entry-wrap {
    padding-top:0;
    -webkit-box-shadow:0 .15em .35em 0 rgba(0, 0, 0, 0.035);
    box-shadow:0 .15em .35em 0 rgba(0, 0, 0, 0.035);
}
.entry-title {
    font-size:180%;
    font-weight:700;
}
html input[type=button], input[type=reset], input[type=submit] {
    padding:.363em 3.125em .513em;
}
.x-title-center {
    text-align:center;
}
/* newsletter signup */
.x-newsletter-signup {
    border-top:12px solid #104B73;
    border-right:none!important;
    border-bottom:none!important;
}
.x-newsletter-signup .nsu-form label {
    display:none;
}
.x-newsletter-signup nsu-form input[type=text], .x-newsletter-signup .nsu-form input[type=email], .x-newsletter-signup .nsu-form input[type=tel], .x-newsletter-signup .nsu-form input[type=url] {
    display:block;
    width:80%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:20px auto;
    border-top:2px solid #ccc;
}
.x-newsletter-signup .nsu-submit {
    margin:0 auto;
}
.x-newsletter-signup .nsu-text-before-form {
    text-align:center;
}
.x-newsletter-signup p {
    text-align:center;
    text-transform:uppercase;
    clear:both;
    font-weight:300;
    margin:0;
}
.x-newsletter-signup h6 {
    text-transform:uppercase;
    font-weight:700;
    margin:0;
    letter-spacing:normal;
}
/* 
 * ******************************
 * AppsFreedom Customizations
 * RevSlider Navigation Style:  Round
 * Bulet Type: Bullet
 * ****************************** 
*/

/*
.tp-leftarrow:before {content: "\f053";font-size: 3.5em;font-weight: 700 !important;opacity: .5;color: #40b3df;}
.tp-leftarrow.custom:hover, .tp-rightarrow.custom:hover, .tp-leftarrow:hover, .tp-rightarrow:hover {color:white;}
.tp-rightarrow:before {content: "\f054";font-size: 3.5em;font-weight: 700 !important;opacity: .5;color: #40b3df;}
.tp-rightarrow,.tp-leftarrow {background-color: transparent !important;}
*/

/* 
 * ******************************
 * AppsFreedom Customizations
 * RevSlider Navigation Style:  Preview 2
 * Bullet Type: Bullet
 * Nav Arrows: Solo
 * ****************************** 
*/
.tp-leftarrow.default, .tp-rightarrow.default {
    background-color:transparent!important;
}
.tp-leftarrow:after {
    top:-8px!important;
    font-family:fontawesome!important;
    content:"\f053"!important;
    font-size:3.5em!important;
    font-weight:700!important;
    opacity:.5;
    color:#40b3df;
}
.tp-rightarrow:after {
    top:-8px!important;
    font-family:fontawesome!important;
    content:"\f054"!important;
    font-size:3.5em!important;
    font-weight:700!important;
    opacity:.5;
    color:#40b3df;
}